# Byte code
*.pyc

# Jupyter Notebooks
/**.ipynb
**checkpoint.ipynb

# VSCode
.vscode*

# Pyenv
.python-version

# Coverage.py
.coverage

# Mac OS
**.DS_Store
**.icloud

# CSVs
/**.csv



# Sphinx
docs/build/**

# Setuptools
dist/**
build/**
**.egg-info
**.whl
**.tar.gz

# Other
performance_tests/**